* {
    color: rgb(255, 255, 255, .87) !important;
}

a {
    text-decoration: none;
}

body {
    background-color: #151A30 !important;
    color: #fff !important;
}

.app {
    height: 100vh !important;
    width: 100vw !important;
    overflow: hidden;
    display: flex;
}

.navbar {
    width: 192px;
}

.main {
    width: calc(100vw - 192px);
    min-height: 100vw !important;
}

.page-container {
    height: 100vh;
    background-color: #151A30;
    padding: 10px;
}