.nav-container {
    width: 192px;
    height: 100vh;
    background-color: #222B44;
    font-weight: 300;
    font-size: 0.9rem;
}

.logo-container {
    padding: 10px;
    margin-bottom: 40px;
}

.logo-container img {
    height: 30px !important;
    width: 30px !important;
}

.nav-item {
    padding: 5px;
    background-color: #1D2437;
    margin: 5px 0px;
}

.nav-item-icon {
    margin-left: 15px;
}

.ant-menu {
    background-color: #222B44 !important;
}

.ant-menu-item:hover {
    background-color: #1890ff !important;
}

